/* =========================
   Global
========================= */
body {
  margin: 0;
  background: linear-gradient(135deg, #1f2933, #0f172a);
  color: white;
  font-family: "Poppins", sans-serif;
}

/* .image-box {
  height: 100vh;
  overflow: hidden;
} */

/* .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(20%);
  transition: transform 0.6s ease, filter 0.6s ease;
} */


.content-section {
  margin-top: 60px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.6);
}

/* Typing List */
.typing-list {
  list-style-position: inside;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.typing-list li {
  margin-bottom: 14px;
  border-right: 2px solid white;
  white-space: wrap;
  overflow: hidden;
  width: 0;
  animation: typeLine 1.2s steps(40) forwards;
}

.typing-list li:nth-child(1) {
  animation-delay: 0.2s;
}

.typing-list li:nth-child(2) {
  animation-delay: 0.4s;
}

.typing-list li:nth-child(3) {
  animation-delay: 0.6s;
}

.typing-list li:nth-child(4) {
  animation-delay: 0.8s;
}

.typing-list li:nth-child(5) {
  animation-delay: 1s;
}

.typing-list li:nth-child(6) {
  animation-delay: 1.2s;
}

.typing-list li:nth-child(7) {
  animation-delay: 1.4s;
}

.typing-list li:nth-child(8) {
  animation-delay: 1.6s;
}

.typing-list li:nth-child(9) {
  animation-delay: 1.8s;
}

.typing-list li:nth-child(10) {
  animation-delay: 2s;
}

@keyframes typeLine {
  to {
    width: 100%;
    border-color: transparent;
  }
}

.back-btn {
  width: 30%;
  margin: 15px 35%;
  padding: 10px 30px;
  font-weight: 700;
  border-radius: 25px;
  transition: 0.3s ease;
  background-color: white;
  color: black;
  white-space: nowrap;
}

.back-btn:hover {
  transform: translateY(-4px);
  color: black;
}